.info-container {
  background-color: #191e1f;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
  height: 150px;
  margin-left: 35px;
  margin-right: 35px;
}
.info-container .contact-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  text-align: center;
}
.info-container .contact-nav div {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.info-container .contact-nav div i {
  font-size: 28px;
}
.info-container .contact-nav div:hover {
  color: #f89646;
  cursor: pointer;
}
.info-container .social-box {
  width: 100%;
  display: flex;
  margin-top: 25px;
  text-align: center;
  justify-content: space-evenly;
}
.info-container .social-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid #6bb7be;
  color: #6bb7be;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
}
.info-container .social-box a:hover {
  color: #f89646;
  border-color: #f89646;
}
.contact-nav .contact-nav-icon {
  margin-right: 15px;
}
.footer-container {
  position: relative;
  text-align: center;
}
.footer-container p {
  color: #000;
  padding: 25px 0;
  margin: 0;
  font-size: 14px;
}
